body
{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333;
	background-color: #fff;
	text-align: left;
	vertical-align: top;
}
a
{
	color: #039;
	text-decoration: underline;
}
a:hover
{
	text-decoration: none;
}
h2
{
	font-size: 15px;
    font-weight: normal;
	border-bottom: 1px solid #def;
	height: 9px;
	padding-left: 20px;
	margin: 10px 0 15px 0;
}
h2 span
{
    background-color: #fff;
    padding: 0px 5px 0px 5px;
    text-shadow: 1px 1px 0 #def;
}
hr
{
	border: none;
	border-bottom: 1px dotted #def;
	height: 0;
}
small
{
	color: #666;
	font-size: 12px;
}
.top
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.header
{
	width: 800px;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	border: 1px solid #36c;
	border-top: none;
	border-bottom-color: #8bf;
	
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	-ms-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	
	background-color: #36c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8bf), to(#36c));
	background-image: -webkit-linear-gradient(top, #8bf,  #36c);
	background-image: -moz-linear-gradient(top, #8bf,  #36c);
	background-image: -o-linear-gradient(top, #8bf,  #36c);
	background-image: -ms-linear-gradient(top, #8bf,  #36c);
	background-image: linear-gradient(top, #8bf,  #36c);
	
	text-shadow: -1px -1px 1px #36c;
	
	-webkit-box-shadow: 0 1px 2px #039;
	-moz-box-shadow: 0 1px 2px #039;
	-o-box-shadow: 0 1px 2px #039;
	-ms-box-shadow: 0 1px 2px #039;
	box-shadow: 0 1px 2px #039;
	
	color: #fff;
}
.title
{
	float: left;
	padding: 0 10px;
	font-size: 18px;
	font-weight: bold;
}
.title a
{
	text-decoration: none;
	color: #fff;
}
.title-tip
{
	float: left;
}
.title-tip span
{
	font-size: 18px;
}
.content
{
	width: 750px;
	margin: 35px auto 15px auto;
	border: 1px solid #def;
	border-top: none;
	padding: 0;
	
	-webkit-box-shadow: 1px 0 2px #def, -1px 0 2px #def, 0 1px 2px #def;
	-moz-box-shadow: 1px 0 2px #def, -1px 0 2px #def, 0 1px 2px #def;
	-o-box-shadow: 1px 0 2px #def, -1px 0 2px #def, 0 1px 2px #def;
	-ms-box-shadow: 1px 0 2px #def, -1px 0 2px #def, 0 1px 2px #def;
	box-shadow: 1px 0 2px #def, -1px 0 2px #def, 0 1px 2px #def;
	
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	-ms-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
.column
{
	padding: 10px 20px;
}
.column-left
{
	float: left;
	width: 361px;
	border-right: 1px solid #def;

	-webkit-box-shadow: 1px 0 2px #def, 0 1px 2px #def;
	-moz-box-shadow: 1px 0 2px #def, 0 1px 2px #def;
	-o-box-shadow: 1px 0 2px #def, 0 1px 2px #def;
	-ms-box-shadow: 1px 0 2px #def, 0 1px 2px #def;
	box-shadow: 1px 0 2px #def, 0 1px 2px #def;

	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	-ms-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
.column-right
{
	margin-left: 402px;
}
.footer
{
	clear: both;
}
table
{
	border-collapse: collapse;
	border: none;
}
td
{
	width: 17px;
	height: 17px;
	border: 1px solid #aaa;
	background-color: #eee;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 17px 17px;
	background-image: url("/static/xo.png");
	cursor: default;
}
.move
{
	cursor: pointer;
	background-color: #fff;
}
.last
{
	background-color: #ff3;
}
.x-gray
{
	background-position: 0px 0px;
}
.o-gray
{
	background-position: -17px 0px;
}
.x-green
{
	background-position: 0px -17px;
}
.o-green
{
	background-position: -17px -17px;
}
.x-red
{
	background-position: 0px -34px;
}
.o-red
{
	background-position: -17px -34px;
}
.info
{
	margin-left: 50px;
}
.info span
{
	color: #666;
	display: inline-block;
	width: 50px;
	margin-left: -50px;
}
#chat
{
	color: #666;
	background-color: #fff;
	height: 425px;
	overflow: auto;
}
input
{
	border: 1px solid #aaa;
	height: 21px;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
#message
{
	width: 240px;
	float: left;
}
#send
{
	float: right;
}
#link
{
	height: 18px;
	width: 98%;
}
.button
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	height: 23px;
	margin: 0;
	padding: 0 8px;
	cursor: pointer;
	
	border: 1px solid #aaa;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	text-shadow: -1px -1px 0 #999;

	background-color: #bbb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
	background-image: -webkit-linear-gradient(top, #ccc,  #999);
	background-image: -moz-linear-gradient(top, #ccc,  #999);
	background-image: -o-linear-gradient(top, #ccc,  #999);
	background-image: -ms-linear-gradient(top, #ccc,  #999);
	background-image: linear-gradient(top, #ccc,  #999);
}
.button:hover
{
	border: 1px solid #666;
}
.button:active
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc));
	background-image: -webkit-linear-gradient(top, #999,  #ccc);
	background-image: -moz-linear-gradient(top, #999,  #ccc);
	background-image: -o-linear-gradient(top, #999,  #ccc);
	background-image: -ms-linear-gradient(top, #999,  #ccc);
	background-image: linear-gradient(top, #999,  #ccc);
}
